* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: seashell;
}

.link {
    color: teal;
    font-size: 30px;
}

h1 {
    font-size: 70px;
    color: yellowgreen;
}

h2 {
    font-size: 30px;
    color: yellowgreen;
}

.misctext {
    font-size: 24px;
}

ol,
ul {
    list-style-position: inside;
}